.musicDistributionLinkCon {
  text-align: center;
}
.musicDistributionLinkSubCon {
  padding: 25vh 0px 0px 0px;
}
.dashboard {
  padding: 20px 30px;
  background: hsl(0, 0%, 99%);
  height: 100vh;
}
