.tracks{
    display: inline-block;
    
    width: 100px;
    margin-right: 50px;
    border-right: 2px solid var(--green);
}
.label{
    display: inline-block;
    
    width: 100px;
    margin-right: 50px;
    
}
.nos{
    color: var(--green);
    font-size: 1.3vw;
}
.noText{
    color: var(--green);
    font-size: 1.3vw;
}
@media screen and (max-width: 999px) {
    .nos{
        font-size: 18px;
        
    }
    .noText{
        font-size: 18px;
    }
}

@media screen and (max-width: 540px) {
    .tracks, .label{
        margin-right: 20px;
    }
}