.dashboardHeaderCon {
  display: flex;
  align-items: center;
  /* height: 50px; */
}
.logo {
  margin-right: auto;
  font-weight: bold;
}
.welcome {
  background: white;
  padding: 10px 10px;
  width: 40vw;
  text-align: center;
  margin-right: auto;
}
.first_name {
  text-transform: uppercase;
}
.icon_con {
  background: var(--purple);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon {
  font-size: 20px;
  color: white;
}
.icon_con:hover {
  padding-top: 10px;
  background: var(--dashPink);
}
.Tooltip_Con {
  display: flex;
}
