.dashboard_con {
  max-width: 100%;
  overflow-x: hidden;

  /* background: red; */
}
.slide_con {
  background: white;
  /* height: 45vh; */
  width: 100%;
  border-radius: 20px;
  margin: 30px 0px;
  box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  -webkit-box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  -moz-box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  padding: 20px;
}
.slide_con_con {
  padding: 0px 30px;
}
.Cover_Image {
  width: 29.3vw;
  padding: 0px 5px;
}
.src {
  width: 29.3vw;
  height: 29.3vw;
  object-fit: cover;
  /* background: red; */
  border-radius: 20px;
}
.input_account_type {
  text-align: left;
  margin: 10px 20px;
}
.account_type_header {
  font-weight: bold;
  margin: 20px;
}
.proceed_button {
  text-align: right;
  /* background: red; */
  margin: 20px 20px;
}
.proceed {
  background: var(--purple);
  color: white;
  padding: 3px 15px;
  border-radius: 7px;
}
.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.425);
  position: fixed;
  z-index: 100;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.modal_sub_con {
  position: relative;
  background: white;
  width: 30vw;
  border-radius: 20px;
  text-align: center;
}

.section2_con {
  /* background: red; */
  display: flex;
  padding: 10px 0px;
}
.todays_stream {
  margin-right: auto;
}
.upload_song_con {
  width: 18.3vw;
  background: var(--purple);
  border-radius: 15px;
  color: white;
  padding: 20px 20px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  margin-right: 30px;
}
.upload_song_con:hover {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.83);
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.83);
}
.upload_song {
  font-weight: bold;
  text-align: center;
  font-size: 0.9vw;
}
.cloud_icon_con {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 100%;
  background: white;
  border: 2px solid var(--purple);
  width: 4.4vw;
  height: 4.4vw;
  margin: 10px auto;
}
.cloud_icon {
  color: rgb(238, 0, 147);
  color: var(--dashPink);
  font-size: 2.2vw;
  font-weight: 900;
}

.input_artiste_name_field {
  outline: none;
  border: 2px solid var(--purple);
  margin: auto;
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px;
}
.small_music_icon {
  width: 2.56vw;
  height: 2.56vw;
  margin: 10px 5px 5px 0px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
}

.song_heading {
  margin-left: 30px;
  font-weight: bold;
  color: var(--dashPink);
}
.link_to_catalog {
  margin-left: 30px;
  font-weight: bold;
  font-size: 13px;
  margin-top: 30px;
}
.link_to_catalog:hover {
  color: blue;
}
.small_songs_con {
  margin-left: 30px;
  width: 35vw;
  /* background: red; */
  display: flex;
  align-items: center;
}
.item_song {
  text-transform: capitalize;
  font-weight: bold;
}
.item_artiste_name {
  text-transform: capitalize;
  font-size: 11px;
}
.items_con {
  display: inline-block;
  vertical-align: middle;
}
.pop_over_con {
  display: inline-block;
  margin-left: auto;
  margin-right: 30px;
}

.popover_content {
  padding: 20px;
}
.skeleton {
  height: 55vh;
}
.skeleton_con {
  margin-top: 7.01vh;
  padding: 0px 30px;
}

@media screen and (max-width: 999px) {
  .Cover_Image,
  .src {
    width: 100%;
    height: 100vw;
    padding: 0px 5px;
  }
  .slide_con {
    padding: 15px 5px;
  }
  .slide_con_con {
    padding: 0px 10px;
  }
  .modal_sub_con {
    width: 80vw;
  }
  .small_music_icon {
    width: 35px;
    height: 35px;
  }
  .section2_con {
    display: block;
  }

  .link_to_catalog {
    font-size: 13px;
  }
  .small_songs_con {
    width: 100vw;
  }
  .pop_over_con {
    display: inline-block;
    margin-left: auto;
    padding-right: 20px;
  }
  .upload_song_con {
    width: 35vw;
    display: inline-block;
    padding: 10px;
    margin-left: 30px;
    margin-left: auto;
  }
  .upload_con_con {
    display: flex;
    flex-wrap: wrap;
  }
  .upload_song {
    font-size: 13px;
  }
  .cloud_icon_con {
    width: 50px;
    height: 50px;
  }
  .cloud_icon {
    font-size: 30px;
    font-weight: 900;
  }
  .skeleton {
    height: 100vw;
  }
  .skeleton_con {
    margin-top: 7.01vh;
    padding: 0px 10px;
  }
}
@media screen and (max-width: 540px) {
  .slide_con_con {
    padding: 0px 10px;
  }
  .modal_sub_con {
    width: 90vw;
  }
  .small_music_icon {
    width: 8.45vw;
    height: 8.45vw;
  }
  .link_to_catalog {
    font-size: 3.14vw;
  }
  .upload_song {
    font-size: 3.14vw;
  }
  .cloud_icon_con {
    width: 8.45vw;
    height: 8.45vw;
  }
}
