.slide_con {
  background: white;
  /* height: 45vh; */
  width: 100%;
  border-radius: 20px;
  margin: 30px 0px;
  box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  -webkit-box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  -moz-box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  padding: 20px;
}
.slide_con_con {
  padding: 0px 30px;
}
.Cover_Image {
  width: 400px;
}
.src {
  width: 400px;
  height: 250px;
  object-fit: cover;
  /* background: red; */
  border-radius: 20px;
}
.input_account_type {
  text-align: left;
  margin: 40px 20px 20px 20px;
}
.account_type_header {
  font-weight: bold;
  margin: 20px;
}
.proceed_button {
  text-align: right;
  /* background: red; */
  margin: 20px 0px;
  padding-left: 75%;
}
.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.425);
  position: fixed;
  z-index: 100;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.modal_sub_con {
  position: relative;
  background: white;
  width: 30vw;
  border-radius: 20px;
  text-align: center;
}
.dashboard_con {
  width: 100vw;
  overflow-x: hidden;
}
.section2_con {
  /* background: red; */
  display: flex;
  padding: 10px 0px;
}
.todays_stream {
  margin-right: auto;
}
.upload_song_con {
  width: 250px;
  height: 22vh;
  background: var(--purple);
  border-radius: 15px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  margin-right: 30px;
}
.upload_song_con:hover {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.83);
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.83);
}
.upload_song {
  font-weight: bold;
  text-align: left;
}
.cloud_icon_con {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 100%;
  background: white;
  border: 2px solid var(--purple);
  width: 60px;
  height: 60px;
  margin: 10px auto;
}
.cloud_icon {
  color: rgb(238, 0, 147);
  color: var(--dashPink);
  font-size: 30px;
  font-weight: 900;
}
.supported_format {
  font-size: 11px;
}
