.dashboardCon{
    margin: 0px 150px ;
}
.usernameConfidentPhrase{
    font-weight: 500;
    margin-bottom: 50px;
    vertical-align: middle;
}
.username{
    text-transform: uppercase;
   
    margin-right: 10px;
}
.confidentPhraseAndImageCon{
    display: flex;
    margin-top: 150px;
    
}
.confidentPhrase{
    display: inline-block;
    margin-right: auto;
    
    
}
.coolGlassesLady{
    background: none;
}

.dashboardAndIconsCon{
    /* background: green; */
    margin-top: 50px;
    display: flex;
}
.dashboardIconsCon{
    padding: 100px 10px 60px 10px;
    background: var(--grey);
    width: 36.6vw;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 1.1092vw;
}
.dashboardIconsSubCon{
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    
}
.dashboardIconsSubConSpecial{
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    font-size: 28px;
    cursor: default;
    
}
.dashboardIconImage{
    background: var(--purple);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    
}
.dashboardiconTextCon{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-left: 30px;
}
.dashBoardIconLink:hover{
font-size: 18px;
}
.totalStreamUploadAndActiveCon{
    display: inline-block;
    /* background: red; */
    width: 40vw;
    height: 500px;
    
}
.totalStreamAndUploadCon{
    display: flex;
}
.totalSreamCon{
    text-align: center;
    display: inline-block;
    background: var(--grey);
    padding: 50px 10px;
    border-radius: 20px;
    margin-right: 15.77px;
    width: 12.05vw;
}
.totalSreamConB{
    text-align: center;
    display: inline-block;
    background: var(--grey);
    padding: 50px 5px;
    height: 153px;
    border-radius: 20px;
    width: 26.354vw;
}
.plusIcon{
    font-size: 40px;
}
.linlToAddTrack{
    text-decoration: none;
    display: inline-block;
    width: 160px;
    border-right: 4px solid var(--purple);
    width: 11.713vw;
}
.linlToAddTrackB{
    text-decoration: none;
    display: inline-block;
    width: 11.713vw;
}
.totalSreamNumber{
    color: var(--green);
}
.totalStreamAndUploadUpOnlyCon{
    /* background: green; */
    margin-bottom: 40px;
}
.allActivePackageCon{
    /* background: red; */
    height: 315px;
    overflow-y: scroll;
}
.allActivePackageSubCon{
    margin-top: 20px;
    
    
   
}

.oIcon{
    color: white;
    margin-right: 5px;
}
.packageDivCon{
    background: var(--purple);
    padding: 10px 2.56vw;
    height: 83px;
    position: relative;
    border-radius: 15px;
    margin-top: 21.4px;
    z-index: -1;
   }
.packageDivConNoDisplay{
    display: none;
   }
.dashBoardPackageText{
    color: white;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    font-size: 20px;
    
}
.pricingPackage{
    margin-top: 20px;
    color: var(--dashPink);
}
.myEarningsMoneyDiv{
    transform: scale(-1, 1);
    margin: 30px 0px;
}
.myEarningsMoneySubDiv{
    width: 300px;
    text-align: center;
    background: var(--dashPink);
    border-radius: 15px;
    padding: 20px;
    transform: scale(-1, 1);
}
.myEarningsMoney{
    color: white;
    font-weight: 900;
}
.addNewMedia{
width: 100%;
}
@media screen and (max-width: 1129px) {
    .allActivePackageCon{
        /* background: red; */
        height: 390px;
        overflow-y: scroll;
    }
}
@media screen and (max-width: 999px) {
    .coolGlassesLady{
        display: none;
    }
    .dashboardIconsCon{
        display: none;
    }
    .dashboardIconsCon{
        padding: 100px 10px 60px 10px;
        background: var(--grey);
        width: 100%;
       
    }
    .dashboardAndIconsCon{
        /* background: green; */
        margin-top: 50px;
        display: block;
    }
       .allActivePackageCon{
        /* background: red; */
        height: 315px;
        overflow-y: scroll;
        width: 100%;
    }
    .totalStreamUploadAndActiveCon{
        display: inline-block;
        /* background: red; */
        width: 100%;
        height: 500px;
        
    }
    .totalSreamCon{
        text-align: center;
        display: inline-block;
        background: var(--grey);
        padding: 50px 10px;
        border-radius: 20px;
        margin-right: 15.77px;
        width: 24vw;
    }
    .totalSreamConB{
        text-align: center;
        display: inline-block;
        background: var(--grey);
        padding: 50px 5px;
        height: 153px;
        border-radius: 20px;
        width: 45vw;
    }
    .linlToAddTrack{
    text-decoration: none;
    display: inline-block;
    width: 160px;
    border-right: 4px solid var(--purple);
    width: 18vw;
}
.linlToAddTrackB{
    text-decoration: none;
    display: inline-block;
    width: 18vw;
}
}
@media screen and (max-width: 750px) {
    .dashboardCon{
        margin: 0px 20px ;
    } 
    .totalSreamCon{
        width: 36vw;
    }
    .totalSreamConB{
        width: 55vw;
    }
   
}
.linlToAddTrack, .linlToAddTrackB{
    width: 24vw;
}
@media screen and (max-width: 540px) {
    .addNewMedia{
        font-size: 12px;
    }
    .dashBoardPackageText{
        font-size: 18px;
    }
}


