.mDCon {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* background: red; */
}

.headerContainer {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 96;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  background: white;
}

.logoDiv {
  margin: 30px 0px 0px 50px;
  margin-right: auto;
}
.logo {
  color: var(--purple);
  text-decoration: none;
  font-weight: bold;
  font-size: 2.2vw;
  vertical-align: middle;
  /* background: var(--purple); */
  padding: 0px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
.navDiv {
  display: inline-block;
  margin: 30px 50px 0px 0px;
}
.nav {
  color: var(--purple);
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2vw;
}
.nav:hover {
  text-shadow: 0 0 10px #21072154, 6px 14px 11px rgba(33, 7, 33, 0);
}
.nav:active,
.nav:focus {
  padding-bottom: 10px;
  border-bottom: 5px solid var(--purple);
}
.button,
.button_SignIn {
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2vw;
  background: var(--red);
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 7px;
}
.button:hover {
  background: #4b0d4b;
}
.button_SignIn {
  background: #b1b1b1;
}
