.homeCard1 {
  width: 100%;
  height: 100vh;
  background: red;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(../images/desktop.png);
}
.signInAndSpeakerCon {
  margin: -76px 50px 0px 50px;
  display: flex;
  position: relative;
  margin-bottom: 100px;
}

.earnCon {
  margin: 40px 50px;
  text-align: center;
  margin-top: 0px;
}
.red {
  color: red;
}
.getCon {
  background: rgb(247, 247, 247);
  text-align: center;
  padding: 80px 20px;
  overflow: hidden;
  margin: 100px 0px;
}
.get,
.get2 {
  margin-bottom: 20px;
  font-size: 1.68vw;
  font-weight: bold;
  padding: 0px 10px;
}
.get3 {
  font-size: 1.39vw;
  font-weight: bold;
  color: var(--blueA);
  padding: 0px 10px;
}
.freeTrialBtn {
  color: white;
  vertical-align: middle;
  background: var(--purple);
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 23px;
  font-weight: bold;
}
.freeTrialBtn:hover {
  background: #4b0d4b;
}

.linkCards {
  margin: 100px 50px 0px 50px;
  text-align: center;
}
.metrics,
.metricsWithBorder {
  margin: 150px 50px;
  text-align: center;
  display: inline-block;
}
.metricsWithBorder {
  border-left: 7px solid var(--purple);
  border-right: 7px solid var(--purple);
  padding-left: 40px;
  padding-right: 40px;
}
.metricsCon {
  text-align: center;
}
.largerAudienceCon {
  margin: 0px 50px;
  text-align: center;
}
.squareAndCircleIcon {
  width: 547px;
  height: 40.1vw;
  background: var(--purple);
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  margin-right: 50px;
  vertical-align: middle;
  padding-top: 8.8vw;
}
.smallThinkLine {
  width: 8px;
  height: 99px;
  background: var(--purple);
  display: inline-block;
  vertical-align: middle;
}
.largerAudienceText {
  display: inline-block;
  text-align: left;
  border-left: 2px solid var(--purple);
  padding-left: 55px;
  margin-left: -5px;
  vertical-align: middle;
}
.reachLargerTextA {
  font-size: 1.76vw;
  font-weight: bold;
}
.reachLargerText {
  margin-bottom: 75px;
  font-size: 1.76vw;
  font-weight: bold;
}
.signUpOrLogIn {
  text-decoration: none;
  font-weight: 1000;
  margin-top: 75px;
  font-size: 1.83vw;
  display: block;
}
.Footer {
  margin-top: 200px;
}

.aB {
  font-size: 7.32vw;
  /* -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--purple); */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  position: relative;
  color: var(--purple);
  height: 11.12vw;
  margin: 0px 50px;
}
.headsetGuysCon,
.headsetGuysConOnly {
  margin: 100px 50px 0px 50px;
  text-align: center;
}
.headsetGuysConOnly {
  display: none;
}
.headsetGuysCon2 {
  margin: 50px 50px 0px 50px;
  text-align: center;
}
.headsetGuys {
  width: 30vw;
  display: inline-block;
  vertical-align: middle;
}

.green,
.pink,
.orange,
.blue,
.red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: greenyellow;
  display: inline-block;
  vertical-align: middle;
  line-height: 100px;
}
.pink {
  background: rgb(253, 130, 150);
}
.orange {
  background: rgb(248, 143, 104);
}
.blue {
  background: rgb(18, 200, 245);
}
.red {
  background: rgb(233, 66, 6);
}
.start {
  display: inline-block;
  vertical-align: middle;
}
.big_check {
  color: white;
  font-size: 21.96vw;
  margin: auto;
  display: flex;
  align-self: center;
}
/* .welcome {
  color: white;
  height: 95vh;
  top: 50%;
  position: relative;
  left: 20px;
  font-size: 50px;
  font-weight: bold;
} */
.your_music {
  color: white;
}
@media screen and (max-width: 999px) {
  .reachLargerText,
  .reachLargerTextA {
    font-size: 24px;
  }

  .homeCon {
    overflow-x: hidden;
  }
  .big_check {
    color: white;
    font-size: 300px;
  }

  .homeCard1 {
    height: 767px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(../images/mobile.png);
  }
  .squareAndCircleIcon {
    width: 100%;
    height: 90vw;
    border-radius: 20px;
    text-align: center;
    display: inline-block;

    vertical-align: middle;
    padding-top: 0px;
    padding: 20px 20px;
    display: flex;
  }

  .signInCon {
    top: 300px;
    margin-right: 20px;
    margin-left: 20px;
    display: block;
  }
  .earnCon {
    margin-top: 70px;
  }

  .speakerCon {
    display: none;
  }

  .metrics,
  .metricsWithBorder {
    margin: 50px 20px;
    text-align: center;
    /* display: block; */
  }
  .metricsWithBorder {
    border-top: 7px solid var(--purple);
    border-bottom: 7px solid var(--purple);
    border-left: none;
    border-right: none;
    padding-left: 0px;
    padding-right: 0px;
    padding: 40px 0px;
  }
  .linkCards {
    margin: 100px 10px 0px 10px;
    text-align: center;
  }
  .smallThinkLine {
    width: 8px;
    height: 99px;
    display: block;
    text-align: center;
    margin: 50px 0px;
    margin-left: 50%;
  }
  .largerAudienceText {
    display: inline-block;
    text-align: left;
    border-left: 2px solid var(--purple);
    padding-left: 50px;
    margin-left: -5px;
    vertical-align: middle;
    height: fit-content;
  }

  .qM {
    display: none;
  }
  .newAboutText {
    display: block;
    width: 100%;
    font-size: 14px;
  }
  .newAboutusCon {
    margin-top: 20px;
  }

  .get,
  .get2,
  .freeTrialBtn {
    font-size: 20px;
  }
  .get3 {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .reachLargerText {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 540px) {
  .signInCon {
    top: 0;
    margin: 5px 10px;
    display: block;
  }
  .homeCard1 {
    height: 65vh;
    display: flex;
    align-items: center;
  }
  .signIn {
    font-size: 60px;
  }

  .earnCon {
    margin: 40px 20px;
  }
  .metrics,
  .metricsWithBorder {
    margin: 20px 20px;
  }

  .linkCards {
    margin: 50px 10px 0px 10px;
    text-align: center;
  }
  .smallThinkLine {
    margin: 30px 0px;
    margin-left: 50%;
  }
  .largerAudienceText {
    padding-left: 20px;
    margin-left: -5px;

    height: fit-content;
    display: block;
  }
  .metrics,
  .metricsWithBorder {
    margin: 50px 20px;
    text-align: center;
    display: block;
  }
  .metricsWithBorder {
    border-left: none;
    border-right: none;
    padding-left: 0px;
    padding-right: 0px;
    padding: 40px 0px;
  }

  .qM {
    width: 50vw;
  }
  .aB {
    font-size: 7.32vw;
    margin: 0px 30px;
  }
  .headsetGuysConOnly {
    display: block;
  }
  .headsetGuysCon2 {
    display: none;
  }
  .headsetGuys {
    width: 100%;
  }
  .get,
  .get2,
  .freeTrialBtn {
    font-size: 4.35vw;
  }
  .get3 {
    font-size: 3.62vw;
  }
  .big_check {
    color: white;
    font-size: 48.31vw;
  }
  .reachLargerText,
  .reachLargerTextA {
    font-size: 5.314vw;
  }
}
