
    





    .speakerImg{
        width: 51.02vw;
    }
.homeCard1{
    width:100% ;
    height: 100vh;
    background: red;
    background: url(../images/exports\ soundmac.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.signInAndSpeakerCon{
    margin: -5.13vw 50px 0px 50px;
    display: flex;
    position: relative;
    margin-bottom: 45vh;
}
.signIn{
    font-size: 5.9vw;
    color: white;
    font-weight: 700;
    text-decoration: none;
    line-height: 6.2vw;
    

}
.horizontalLine{
    width: 13.2vw;
    height: 3px;
    background: white;
    margin-top: 30px ;
    display: inline-block;
}
.login{
    color: white;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 24px;
}
.horizontalLineB{
    width: 5.13vw;
    height: 3px;
    background: white;
    margin-top: 30px ;
    display: inline-block;
}
.signInCon{
    display: inline-block;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
    top: 45vh;

}
.speakerCon{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 35vh;
}

.earnCon{
    margin: 40px 50px;
    text-align: center;
    margin-top: 35vh;
}
.red{
    color: red;
}

.aboutUsHeader{
    transform: rotate(270deg);
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 8px;
    text-decoration-color: var(--cream);
    display: inline-block;
    margin-top: 100px;
    margin-right: -28.3px;
  
    
    
}

.aboutUsText{
    display: inline-block;
    border-left: 2px solid var(--cream);
    padding: 0px 0px 0px 30px;
    vertical-align: top;
}
.aboutUsTextHeader{
    text-align: left;
}
.aboutUsParagraphText{
    width: 400px;
    text-align: left;
    font-size: 13px;
    /* line-height: 20px; */
    font-style: italic;
    margin-top: 20px;
    text-align: justify; 
}
.linkCards{
    margin: 180px 50px 0px 50px;
    text-align: center;
  
}
.metrics, .metricsWithBorder{
    margin: 150px 50px;
    text-align: center;
    display: inline-block;
    
}
.metricsWithBorder{
    border-left: 7px solid var(--cream);
    border-right: 7px solid var(--cream);
    padding-left: 40px;
    padding-right:40px;
}
.metricsCon{
    text-align: center;
}
.largerAudienceCon{
    margin: 0px 50px;
    text-align: center;
}
.squareAndCircleIcon{
    width: 547px;
    height: 40.1vw;
    background: var(--cream);
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    margin-right: 50px;
    vertical-align: middle;
    padding-top: 8.8vw;
}
.smallThinkLine{
    width: 8px;
    height: 99px;
    background: var(--cream);
    display: inline-block;
    vertical-align: middle;
}
.largerAudienceText{
    display: inline-block;
    text-align: left;
    border-left: 2px solid var(--cream);
    padding-left: 55px;
    margin-left: -5px;
    vertical-align: middle;
    height: 40.04vw;
}
.reachLargerTextA{
    font-size: 1.76vw;
}
.reachLargerText{
    margin-bottom: 75px;
    font-size: 1.76vw;
}
.signUpOrLogIn{
    text-decoration: none;
    font-weight: 1000;
    margin-top: 75px;
    font-size: 1.83vw;
    display: block;
}
.Footer{
    margin-top: 200px;
}
.bigCheck{
    width: 20.1vw;
}


/* Media Query */
@media screen and (max-width: 1180px) {

.speakerImg{
    width: 550px;
}
.signIn{
    font-size: 60px;
    line-height: 85px;
}


    .speakerCon{
        top: 45vh;
    }
    .horizontalLine{
        width: 100px;
}
.horizontalLineB{
    width: 60px;
}

}
@media screen and (max-width: 999px) {
    .reachLargerText,.reachLargerTextA{
        font-size: 24px;
    }
    
    .homeCon{
    overflow-x: hidden;
}
.signUpOrLogIn{
    font-size: 25px;
}
    .homeCard1{
        height: 767px;
        background: url(../images/1000\ home\ background.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        
       
    }
    .squareAndCircleIcon{
        width: 100%;
        height: fit-content;
        background: var(--cream);
        border-radius: 20px;
        text-align: center;
        display: inline-block;
      
        vertical-align: middle;
        padding-top: 0px;
        padding: 20px 20px;
    }
   
    .signInCon{
       top: 300px;
       margin-right: 20px;
       margin-left: 20px;
       display: block;
    
    }
    .earnCon{
        margin-top: 5vh;
        
    }
    

.speakerCon{
    display: none;
}

.signIn{
    font-size: 80px;
}
.horizontalLine{
    width: 180px;
}
.horizontalLineB{
    width: 70px;
}
.signInAndSpeakerCon{
    text-align: center;
     /* margin-bottom: 50vh; */
    display: block;
    position: relative;
   
}
.metrics, .metricsWithBorder{
    margin: 50px 20px;
    text-align: center;
    /* display: block; */
    
    
}
.metricsWithBorder{
    border-top: 7px solid var(--cream);
    border-bottom: 7px solid var(--cream);
    border-left: none;
    border-right: none;
    padding-left: 0px;
    padding-right:0px;
    padding: 40px 0px;
    }
.linkCards{
    margin: 100px 10px 0px 10px;
    text-align: center;
  
}
.smallThinkLine{
    width: 8px;
    height: 99px;
    background: var(--cream);
    display: block;
    text-align: center;
    margin: 50px 0px;
    margin-left: 50%;
    
}
.largerAudienceText{
    display: inline-block;
    text-align: left;
    border-left: 2px solid var(--cream);
    padding-left: 50px;
    margin-left: -5px;
    vertical-align: middle;
    height: fit-content;
}
.bigCheck{
    width: 66.184vw;
}

}
@media screen and (max-width: 590px) {
    .aboutUsHeader{
        transform: rotate(0deg);
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--cream);
        display: block;
        margin-top: 100px;
        margin-bottom: 20px;
        text-align: left;
           
    }
    .aboutUsText{
        display: block;
        border-left: 2px solid var(--cream);
        border-right: 2px solid var(--cream);
        padding: 30px 30px;
        border-radius: 20px;
    }
    .aboutUsParagraphText{
        width: 100%;
        font-size: 13px;
        /* line-height: 20px; */
        font-style: italic;
        margin-top: 20px;
        text-align: justify; 
        /* background: var(--purple); */
        /* color: white; */
    }  
    /* .aboutUsTextHeader{
        color: white;
    }  */
    
}

@media screen and (max-width: 540px) {
    
    .signInCon{
        top: 25vh;
        margin-right: 20px;
        margin-left: 20px;
        display: block;
     
     }
    .homeCard1{
        height: 65vh;
    }
    .signIn{
        font-size: 60px;
    }
    .horizontalLine{
        width: 100px;
    }
    .horizontalLineB{
        width: 60px;
    }
    
   
    .earnCon{
        margin: 40px 20px;
        
    }
    .metrics, .metricsWithBorder{
        margin: 20px 20px;
        
        
    }
    
    .linkCards{
        margin: 50px 10px 0px 10px;
        text-align: center;
      
    }
    .smallThinkLine{
        margin: 20px 0px;
        margin-left: 50%;
    }
    .largerAudienceText{
        padding-left: 20px;
        margin-left: -5px;
       
        height: fit-content;
        display: block;
    }
    .metrics, .metricsWithBorder{
        margin: 50px 20px;
        text-align: center;
        display: block;
        
        
    }
    .metricsWithBorder{
        border-top: 7px solid var(--cream);
        border-bottom: 7px solid var(--cream);
        border-left: none;
        border-right: none;
        padding-left: 0px;
        padding-right:0px;
        padding: 40px 0px;
        }
        .bigCheck{
            width: 240px;
            
            width: 60.184vw;
        }
}
@media screen and (max-width: 407px) {
.signIn{
    font-size: 40px;
}
.login{
    font-size: 15px;
}
.horizontalLine{
    width: 100px;
}
.horizontalLineB{
    width: 40px;
}

}
@media screen and (max-width: 315px) {
    .signIn{
        font-size: 30px;
        line-height: 50px;
    }
    .login{
        font-size: 10px;
    }
    .horizontalLine{
        width: 70px;
    }
    .horizontalLineB{
        width: 20px;
    }
    .squareAndCircleIcon{
        padding: 5px;
    }

}
