.LinkCardCon{
    width: 287px;
    background: var(--cream);
    border-radius: 20px;
    padding: 40px  ;
    display: inline-block; 
    margin:  30px;
    height: 25.7vw;
    vertical-align: top;
}
.icon{
    display: inline-block;
}
.iconHeader{
    margin: 20px;
}
.iconSubText{
    font-size: 0.81vw;
    margin: 20px 0px 30px 0px;
    font-weight: 700;
   
}
.learnMore{
    text-decoration: none;
    font-size: 1.12vw;
    font-weight: bold;
}
@media screen and (max-width: 999px) {
    .LinkCardCon{
        width: fit-content;
        background: var(--cream);
        border-radius: 20px;
        padding: 40px 7.42vw  ;
        display: block; 
        margin:  0px;
        height: fit-content;
        text-align: center;
        
        
    }
    .iconSubText{
        font-size: 11px;
        margin: 20px 0px;
        font-weight: 700;
    }
    .learnMore{
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
    }
}