.LinkCardCon{
    width: 287px;
    background: var(--cream);
    border-radius: 20px;
    padding: 40px  ;
    display: inline-block; 
    margin:  30px;
    /* height: 25.7vw; */
    vertical-align: top;
}
.icon{
    display: inline-block;
    height: 91px;
}
.iconHeader{
    margin: 20px;
    font-weight: bold;
}
.iconSubText{
    font-size: 0.81vw;
    margin: 20px 0px 0px 0px;
    font-weight: 700;
    height: 83px;
   
}
.learnMore{
    text-decoration: none;
    font-size: 1.12vw;
    font-weight: bold;
    display: block;
    margin-top: 50px;
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;

}
.learnMore:hover{
    color: red;
}
@media screen and (max-width: 999px) {
    .LinkCardCon{
        width: fit-content;
        background: var(--cream);
        border-radius: 20px;
        padding: 40px 7.42vw  ;
        display: block; 
        margin:  0px;
        height: fit-content;
        text-align: center;
        
        
    }
    .iconHeader{
       
       font-size: 16px;
    }
    .iconSubText{
        font-size: 11px;
        margin: 20px 0px;
        font-weight: 700;
    }
    .learnMore{
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        margin-top: 20px;

    }
}
@media screen and (max-width: 540px) {
    .iconSubText{
        font-size: 2.66vw;
    }
       
    .learnMore {
        margin-top: 7.25vw;

    }
    .iconHeader{
        font-size: 3.86vw;
        height: 11.59vw;

    }
   
    
}
