.metricsCard{
text-align: left;
width: fit-content;
display: inline-block;
margin: 30px 30px;
}
.category{
    font-weight: bold ;
    font-size: 0.952vw;
}
.value{
    font-size: 2.34vw;
}
@media screen and (max-width: 999px) {
    .value{
        font-size: 32px;
    }
    .category{
        font-weight: bold ;
        font-size: 13px;
    }
}