.earn{
    font-size: 20px;
    margin-bottom: 30px;
}.musicLogotext{
    margin-top: 30px;
    font-size: 13px;
    margin-bottom: 140px;
    
}
.red{
    color: red;
}
@media screen and (max-width: 999px) {
.musicLogotext{
       margin-bottom: 140px;
    
}
}

@media screen and (max-width: 540px) {
    .musicLogotext{
           margin-bottom: 120px;
        
    }
 }