.earn{
    font-size: 2.2vw;
    margin-bottom: 30px;
    margin-top: 150px;
    font-weight: bold;
    color: var(--purple);

}
.musicLogotext{
    margin-top: 30px;
    font-size: 0.952vw;
    margin-bottom: 140px;    
}
.musicAppLogos{
    width: 30.92vw;
    text-align: center;
    display: inline-block;
}

@media screen and (max-width: 999px) {
    .earn{
        font-size: 25px;
         margin-top: 100px;
    margin-bottom: 30px;
    }
    .musicLogotext{
       margin-bottom: 140px;
       font-size: 13px;
}
.musicAppLogos{
    width: 313px;
}
}

@media screen and (max-width: 540px) {
    .earn{
        font-size: 4.83vw;
        margin-top: 50px;
    }
    
    .musicLogotext{
           margin-bottom: 120px;
           font-size: 13px;
        
    }
    .musicAppLogos{
        width: 75.6vw;
    }
 }
