.packagesFormCon {
  height: fit-content;
  box-shadow: 0px 2px 19px -2px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 2px 19px -2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 2px 19px -2px rgba(0, 0, 0, 0.52);
  padding: 20px 30px;
}
.formHeader {
  background: var(--purple);
  color: white;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 1.37vw;
  font-weight: bold;
}
.personalDetails {
  margin-top: 70px;
  font-size: 1.37vw;
  font-weight: bold;
}
.ensure {
  font-size: 0.81vw;
  font-style: italic;
}
.label {
  font-size: 0.81vw;
  margin-top: 50px;
  display: block;
  margin-left: 12px;
  font-weight: 700;
}
.italics {
  font-style: italic;
}
.input,
.inputError {
  width: 100%;
  background: var(--pink);
  height: 42px;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  padding: 0px 12px;
}
.input::placeholder,
.inputError,
.inputError::placeholder,
.smallInput::placeholder,
.smallInputError::placeholder {
  font-size: 11px;
  font-style: italic;
}
.smallInput,
.smallInputError {
  width: 100%;
  background: var(--pink);
  height: 42px;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  padding: 0px 12px;
}
.smallInputError,
.inputError {
  border: 2px solid red;
}
.artisteReleaseName {
  display: flex;
}
.artisteName {
  margin-right: auto;
  display: inline-block;
}
.datePicker {
  margin-top: 5px;
  padding: 0px 12px;
  vertical-align: top;
}
.inputButDiv {
  width: 100%;
  background: var(--pink);
  height: fit-content;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  padding: 10px 12px 20px 12px;
  cursor: pointer;
  display: flex;
}
.kindlyPickText {
  font-size: 11px;
  font-style: italic;
  color: rgb(27, 26, 26);
  padding-top: 10px;
  display: inline-block;
  margin-right: auto;
}
.checkBoxDatalistCon {
  /* background: rgb(241, 241, 241); */
  margin-top: 10px;
  padding: 0px 12px;
}
.checkBoxLabel {
  margin-right: 10px;
  font-size: 0.81vw;
  /* font-weight: 700; */
  vertical-align: middle;
  margin-top: 20px;
}
.checkBoxPF {
  vertical-align: middle;
}
.cartSummaryHeader {
  margin-top: 130px;
  font-size: 1.37vw;
  font-weight: bold;
}
.newSingleJSXCon {
  margin-top: 20px;
  display: flex;
  font-size: 1.37vw;
  font-weight: bold;
}
.newSingleJSXHeader {
  margin-right: auto;
  font-size: 1.02vw;
  font-weight: bold;
}
.checkOutBtnCon {
  text-align: center;
  margin-top: 60px;
}
.checkOutBtn,
.checkOutBtnGrey {
  padding: 15px 12px;
  background: var(--purple);
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  width: fit-content;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  font-size: 1.1vw;
}
.checkOutBtnGrey {
  background: rgb(167, 167, 167);
  cursor: not-allowed;
}
.iAgreeCon {
  margin: 20px 0px 50px 0px;
}
.checkBoxLabelIAgree {
  font-weight: bold;
  font-size: 1.02vw;
}
@media screen and (max-width: 999px) {
  .formHeader {
    font-size: 18.72px;
  }
  .personalDetails {
    font-size: 1.37vw;
  }
  .ensure {
    font-size: 11px;
    font-style: italic;
  }
  .label {
    font-size: 11px;
  }
  .checkBoxLabel {
    margin-right: 10px;
    font-size: 11px;
  }
  .cartSummaryHeader {
    font-size: 18.72px;
  }
  .newSingleJSXHeader {
    font-size: 14px;
  }

  .artisteReleaseName {
    display: block;
  }
  .artisteName {
    margin-right: 0px;
    display: block;
  }
  .newSingleJSXCon {
    font-size: 18.72px;
  }
  .checkOutBtn {
    font-size: 15px;
  }
  .checkBoxLabelIAgree {
    font-size: 16px;
  }
}
@media screen and (max-width: 540px) {
  .megaphoneBackground {
    margin: 200px 20px 0px 20px;
  }
  .checkOur {
    margin: 160px 20px;
    font-size: 22px;
  }
  .packageDetails {
    margin: 100px 20px;
  }
}
