.packageDetailsText {
  width: 50vw;
  margin: 25px 0px;
}
.packageDetailsSubText {
  font-size: 13px;
  margin: 5px 0px;
  width: 50vw;
}
.packageOldPrice {
  margin-top: 25px;
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 3px;
}
.packagePriceCon {
  text-align: center;
  width: fit-content;
}
.packagenewPrice {
  color: red;
}
.priceIncludes {
  font-size: 13px;
  margin: 5px 0px;
  width: 50vw;
  color: gray;
  font-weight: bold;
}
@media screen and (max-width: 999px) {
  .packageDetailsText {
    width: 80vw;
    margin: 25px 0px;
  }
  .packageDetailsSubText {
    font-size: 13px;
    margin: 5px 0px;
    width: 80vw;
  }
}
