.SignInBoxDiv{
    position: fixed;
    /* left: 30%; */
    /* top: 10vh; */
    width: 100%;
    padding: 5vh 29.82vw;
    left: 0;
    right: 0;

   
}
.SignInBox{
    background: white;
    color: var(--purple);
    height: fit-content;
    text-align: center;
    border-radius: 30px;
    width: 100%;
    padding:  20px 30px;
}
.x{
    text-align: right;
    transform: scale(-1, 1);
}
.Gi{
    color: var(--purple);
   font-size: 1.2vw;
   cursor: pointer;

}
.Gi:hover{
    color: red;
}
.welcomeTo{
   font-size: 1.2vw;
   margin: 20px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400; 



}
.soundmac{
    font-weight: bolder; 
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.inputCon{
    text-align: left;
}

input.largerCheckbox {
    /* width: 40px;
    height: 40px; */
    vertical-align: middle;
    margin-right: 8px;
    border: none;
}
.rememberMe{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    font-size: 14px;
    vertical-align: middle;
    color: gray;
    cursor: pointer;
}
.flexCon{
    display: flex;
}
.checkBoxCon{
    margin-right: auto;
}
.signInCon{
    text-align: right;
    margin: 20PX 0PX;
}
.signinButton{
    background: var(--purple);
    padding: 5px 20px;
    color: white;
    border-radius: 12px;
    font-weight: bold;
}
.dontHave{
    font-weight: bold;
    font-size: 1.2vw;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-bottom: 40px;
   }
   .dontHave:hover{
    color: blue;
   }
.horizontalOrLine{
    width: 100%;
    height: 1px;
    background: var(--purple);
}
.or{
    margin-top: -15px;
    background: white;
    width: 80px;
    margin-left: 40%;
}
.googleLoginIcon{
    font-size: 40px;
    color: blue;
    vertical-align: middle;
    display: inline-block;
    margin: 20px;
}