.SignInBoxDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
}
.SignInBox {
  background: white;
  color: var(--purple);
  height: fit-content;
  text-align: center;
  border-radius: 30px;
  width: 100%;
  padding: 20px 30px;
}
.x {
  text-align: right;
  transform: scale(-1, 1);
}
.Gi {
  color: var(--purple);
  font-size: 1.2vw;
  cursor: pointer;
}
.Gi:hover {
  color: red;
}
.welcomeTo {
  font-size: 1.2vw;
  margin: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.soundmac {
  font-weight: bolder;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.inputCon {
  text-align: left;
}

input.largerCheckbox {
  /* width: 40px;
    height: 40px; */
  vertical-align: middle;
  margin-right: 8px;
  border: none;
}
.rememberMe {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.02vw;
  vertical-align: middle;
  color: gray;
  cursor: pointer;
}
.flexCon {
  display: flex;
}
.checkBoxCon {
  margin-right: auto;
}
.signInCon {
  text-align: center;
  margin: 20px 0px;
  width: 100%;
  background: var(--purple);
  border-radius: 20px;
  padding: 15px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.signInCon:hover {
  border: 2px solid blue;
  background: none;
  color: var(--purple);
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.dontHavePrev,
.dontHave {
  font-weight: bold;
  font-size: 1.2vw;
  margin: 20px;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
  display: inline-block;
}
.dontHave {
  margin: 0px;
  font-weight: 900;
  color: blue;
  cursor: pointer;
}
.dontHave:hover {
  transform: scale(1.1);
}
.horizontalOrLine {
  width: 100%;
  height: 1px;
  background: var(--purple);
}
.or {
  background: white;
}
.googleLoginIcon {
  font-size: 30px;
  color: blue;
  vertical-align: middle;
  display: inline-block;
  margin: 10px;
}
.emailEmpty {
  color: red;
  font-size: 11px;
  padding-left: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.Input {
  /* outline: 2px solid red; */
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  outline: none;
  padding: 2px 15px;
  background: white;
}
.label {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}
.formCon {
  border: 2px solid rgb(223, 222, 222);
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
input::placeholder {
  font-size: 1.2vw;
  font-family: "Roboto", sans-serif;
  color: var(--purple);
  font-weight: 400;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.formCon:hover {
  border: 2px solid blue;
}

.modal {
  width: 100vw;
  height: 100vh;
  background: red;
  position: absolute;
  z-index: 5000;
  left: 0;
}
.modal_con {
  position: absolute;
}
@media screen and (max-width: 999px) {
  .SignInBoxDiv {
    width: 80vw;
  }
  .Gi,
  .welcomeTo,
  .dontHave,
  .dontHavePrev {
    font-size: 16px;
  }

  .rememberMe {
    font-size: 14px;
  }
  input::placeholder {
    font-size: 16px;
  }
}
@media screen and (max-width: 540px) {
  .SignInBoxDiv {
    width: 90vw;
  }
  .Gi,
  .welcomeTo,
  .dontHave,
  .dontHavePrev {
    font-size: 4.35vw;
  }

  .rememberMe {
    font-size: 3.38vw;
  }
  input::placeholder {
    font-size: 4.35vw;
  }
}
