.text,
.back_icon {
  font-size: 2.2vw;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}
.back_icon {
  margin: 40px 20px 30px 30px;
  cursor: pointer;
}
.upload_container {
  width: 25.62vw;
  display: flex;
  background: white;
  text-align: center;
  margin: 0px 30px;
  height: 25.62vw;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  justify-content: center;
  box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  -webkit-box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  -moz-box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
}
.src_con {
  border: 2px dotted var(--purple);
  width: 25.62vw;
  height: 25.62vw;
  padding: 10px;
  box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  -webkit-box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  -moz-box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
}
.select_audio {
  font-weight: bold;
  color: var(--red);
}
.src {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.change,
.choose_file {
  background: var(--purple);
  color: white;
  width: 45%;
  margin: auto;
  border-radius: 10px;
  height: 2.93vw;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1000;
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
}
.change {
  background: var(--red);
}
.updateRemovebutton {
  /* background: green; */
  position: relative;
  z-index: 100;
  color: white;
}
.updatebutton {
  cursor: pointer;
  background: var(--purple);
  padding: 15px 10px;
  border-radius: 7px;
  margin-right: 10px;
}
.removebutton {
  cursor: pointer;
  background: red;
  padding: 15px 10px;
  border-radius: 7px;
}
.upload_audio_con {
  margin: 20px;
  text-align: left;
  position: relative;
  z-index: 1000;
}
.upload_song_button {
  background: none;
}
.uploaded_image {
  width: 25.62vw;
  height: 25.62vw;
  object-fit: cover;
  border-radius: 20px;
  cursor: default;
}
.Outer_con {
  display: inline-block;
  vertical-align: top;
}
.picture_con {
  font-size: 7.32vw;
  margin: auto;
}
.upload_sub_con {
  width: 40%;
  margin: auto;
}
.type_text {
  font-size: 0.81vw;
  font-weight: bold;
}
.mssg_con,
.mssg_con_red {
  text-align: center;
  width: 25.62vw;
  margin: 30px;
}
.mssg,
.mssg_red {
  display: block;
  color: green;
  font-weight: bold;
}
.file_name,
.file_name {
  display: block;
  list-style: none;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 0.95vw;
}
.mssg_red {
  color: red;
}

.upload_group_con {
  text-align: center;
  display: inline-block;
  margin: auto;
  width: 100%;
}
.purple_block {
  width: 50px;
  height: 50px;
  border: 2px solid var(--purple);
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}
.form_con,
.form_con_small,
.form_con_small_2,
.form_con_medium,
.form_con_smallest {
  width: 759.94px;
  background: white;
  /* margin: auto; */
  display: flex;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  -webkit-box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  -moz-box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  margin-bottom: 20px;
}
.form_con_small,
.form_con_small_2,
.form_con_medium,
.form_con_smallest {
  text-align: left;
  width: 48%;
  margin: 0;
  margin-right: auto;
}
.form_con_small_flex {
  width: 759.94px;
  margin-bottom: 20px;
  display: flex;
}
.form_con_small_2 {
  margin: 0;
}
.form_con_medium {
  width: 70%;
}
.form_con_smallest {
  width: 25%;
  margin: 0;
}
.input,
.input_copyright_date,
.input_full,
.input_full_disabled {
  /* background: green; */
  margin-left: 20px;
  border: 2px solid var(--purple);
  border-radius: 10px;
  width: 37%;
  text-transform: capitalize;
  padding: 0px 15px;
  font-weight: bold;
  font-size: 1.2vw;
}
.input_full,
.input_full_disabled {
  width: 100%;
}
.input_full_disabled {
  cursor: no-drop;
}

.input_copyright_date {
  width: fit-content;
  align-items: center;
  height: 50px;
  font-weight: lighter;
  display: flex;
  width: 100%;
  outline: none;
}
.copyright_year_text {
  margin-right: auto;
}
input::placeholder,
.checkbox_font,
.genre,
.assign_uspc_con,
.assign_label_uspc,
.release_date_input,
.R_d_label,
.submit_modal_text,
.choose_file {
  font-size: 1.2vw;
  /* font-weight: 900; */
  vertical-align: middle;
}

.people_con {
  font-size: 30px;
}
.upload_group_con {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 7vh;
}
.next_con {
  width: 100%;
  height: 9.8vh;
  display: flex;
  justify-content: right;
  padding: 0px 30px;
  align-items: center;
  position: fixed;
  margin-top: calc(100vh - 9.8vh);
}

.next_button,
.prev_button,
.submit {
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  color: var(--red);
  background: rgba(0, 0, 0, 0.37);
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}
.prev_button {
  margin-right: auto;
}
.explicit {
  font-weight: bold;
  display: inline-block;
  margin-right: 40px;
}

.featuring_con {
  box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  -webkit-box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  -moz-box-shadow: 0px 5px 15px -4px rgba(10, 10, 10, 0.71);
  margin-bottom: 20px;
  border-radius: 20px;
  width: 759.94px;
  width: 55vw;

  margin: auto;
  background: white;
  padding: 15px;
  text-align: left;
  margin-bottom: 7vh;
  /* margin-left: 30px; */
}
.featuring_sub_con {
  display: flex;
  align-items: center;
}
.featuring {
  margin: 0px auto 0px 0px;
  font-weight: bold;
  font-size: 1.83vw;
  text-align: left;
}
.pencil {
  font-size: 1.83vw;
}
.input_featuring {
  width: 100%;
  margin-top: 20px;
  outline: none;
  border-bottom: 2px solid var(--purple);
}
.input_flex {
  display: flex;
}
.add_button {
  padding: 3px 7px;
  border-radius: 7px;
  background: var(--purple);
  color: white;
  height: fit-content;
}
.credits_fill_space_con {
  vertical-align: text-top;
  display: inline-block;
  /* background: #ff0000; */
  height: 62vh;
  overflow-y: scroll;
  padding: 20px;
}

.credits_filled_display {
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  margin-left: 50px;
  vertical-align: text-top;
}
.credits_filled,
.credits_filled_grey {
  /* border-left: 10px solid green; */
  padding-right: 15px;
  margin-bottom: 7px;
  width: 200px;
}

.feat,
.feat_grey {
  font-size: 1.17vw;
  font-weight: bold;
  /* display: inline-block; */
  margin-bottom: 10px;
  color: green;
  /* width: 200px; */
  margin: 0px 5px;
}
.feat_con {
  display: flex;
  align-items: center;
}
.feat_grey {
  color: gray;
  display: none;
}
/* .AiFillCheckCircle {
  display: inline-block;
} */
.page3_con {
  display: flex;
}
.input_featuring,
.input_featuring::placeholder,
.credits_filled {
  font-size: 1.17vw;
}
.pencil {
  cursor: pointer;
}
.genre {
  width: 100%;
  outline: none;
  cursor: pointer;
}
.pick_a_date_con {
  background: rgba(0, 0, 0, 0.774);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  /* display: flex; */
  align-items: center;
}
.pick_date_text {
  background: white;
  margin: auto;
  width: 40%;
  /* height: 60%; */
  border-radius: 40px;
  padding: 40px;
}
.release_date_input {
  width: 100%;
  outline: none;
  height: 40px;
  background: none;
  border: 2px solid var(--red);
  padding: 2px 10px;
  border-radius: 10px;
}
.release_date_input:hover {
  border: 2px solid var(--purple);
}
.Gi {
  color: white;
  font-size: 1.2vw;
  cursor: pointer;
}

.x {
  text-align: right;
  transform: scale(-1, 1);
  /* background: red; */
  margin: auto;
  width: 40%;
  position: relative;
  margin-top: 20px;
}
.submit_modal_con {
  text-align: right;
  transform: scale(-1, 1);
  margin-top: 10px;
}
.R_d_label {
  font-weight: bold;
  margin-bottom: 10px;
}
.submit_modal_text {
  background: var(--red);
  padding: 7px 15px;
  border-radius: 7px;
  width: fit-content;
  transform: scale(-1, 1);
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.submit_modal_text:hover {
  background: var(--purple);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.assign_checkbox {
  margin-right: 10px;
}
.assign_uspc_con {
  display: inline-block;
  margin-bottom: 15px;
}
.form_con_check {
  display: inline-block;
}
.assign_label_uspc {
  margin-right: 40px;
}
.terms_link {
  text-decoration: underline;
}
@media screen and (max-width: 999px) {
  .next_con {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: right;
    padding: 0px 30px;
    align-items: center;
    margin-top: auto;
    position: relative;
    margin-bottom: 20px;
  }
  .Gi {
    font-size: 16px;
  }
  .text,
  .back_icon {
    font-size: 30px;
  }
  .upload_container,
  .uploaded_image,
  .src_con {
    width: 350px;
    height: 350px;
  }

  .first_form_sub_con {
    width: 100%;
    margin: 10px;
    padding: 0px 30px;
    display: block;
  }
  .picture_con {
    font-size: 100px;
  }
  .type_text {
    font-size: 11px;
  }
  .mssg_con,
  .mssg_con_red {
    width: 350px;
  }
  .file_name,
  .file_name {
    font-size: 13px;
  }
  .upload_group_con {
    height: calc(100vh - 287.8px);
    /* background: red; */
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    margin-top: 30px;
  }
  .form_con_small_flex {
    display: inline;
    width: 100vw;
  }
  .form_con,
  .form_con_small,
  .form_con_small_2,
  .form_con_medium,
  .form_con_smallest {
    width: 100%;
    margin-bottom: 20px;
  }
  .featuring_con {
    width: 75vw;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .featuring,
  .feat,
  .feat_grey,
  .pencil {
    font-size: 16px;
  }
  .input_featuring {
    margin-top: 15px;
  }
  .input_featuring,
  .input_featuring::placeholder,
  .credits_filled {
    font-size: 16px;
  }
  .x,
  .pick_date_text {
    width: 80%;
  }
  .change,
  .choose_file {
    width: fit-content;
    padding: 20px;
  }
  .upload_audio_con {
    margin: 20px 5px 70px 5px;
    text-align: center;
  }
  .genre_outer_con {
    margin: auto;
    width: 90%;
  }
  .assign_uspc_con {
    display: block;
  }

  .assign_label_uspc {
    margin-right: 0px;
  }
  .input,
  .input_copyright_date,
  .input_full,
  .input_full_disabled,
  input::placeholder,
  .checkbox_font,
  .genre,
  .assign_checkbox,
  .assign_label_uspc,
  .release_date_input,
  .R_d_label,
  .submit_modal_text,
  .choose_file {
    font-size: 14px;
  }
}
@media screen and (max-width: 540px) {
  .Gi {
    font-size: 4.35vw;
  }
  .text,
  .back_icon {
    font-size: 7.25vw;
  }
  .upload_container,
  .uploaded_image,
  .src_con {
    width: 84.54vw;
    height: 84.54vw;
  }
  .picture_con {
    font-size: 24.2vw;
  }
  .type_text {
    font-size: 2.65vw;
  }
  .mssg_con,
  .mssg_con_red {
    width: 84.54vw;
  }
  .file_name,
  .file_name {
    font-size: 3.14vw;
  }
  .featuring,
  .feat,
  .feat_grey,
  .pencil {
    font-size: 3.35vw;
  }

  .input_featuring {
    margin-top: 10px;
  }
  .x,
  .pick_date_text {
    width: 90%;
  }
  .input,
  .input_copyright_date,
  .input_full,
  .input_full_disabled,
  input::placeholder,
  .checkbox_font,
  .genre,
  .assign_uspc_con,
  .assign_label_uspc,
  .release_date_input,
  .R_d_label,
  .submit_modal_text,
  .choose_file {
    font-size: 3.14vw;
  }
}
