@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  top: 0;
  
 
 }
 


:root {
  --purple: #210721;
  --yellow: #FAD30B;
  --cream: #FFEFCD;
  --brown: #846757;
  --pink: #FFF0D1;
  --placeholdercolor: #D2D3D5;
  --grey: #F4F4F4;
  --green: #00bc90;
  --dashPink: #FF939C;
    --blueA: #699df7;
   
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--purple);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type=checkbox] {
  accent-color: var(--purple);
}
.splide__pagination__page{
  top: 200px;
}
.splide__arrow svg {
  fill: #210721;
}
